<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for your RSVP <%= @guest.first_name %> <%= @guest.last_name %></p>
  </body>
</html>